{% extends 'base.html' %}

{% block title %}WCB Cafe - CONTACT{% endblock title %}

{% block id %}contact{% endblock id %}

{% block page %}Contact{% endblock page %}

{% block paragraph %}
<form action="{% url 'contact_form' %}" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_p }}
    </table>
    <input type="submit" class="button" value="送信">
</form>
{% endblock paragraph %}

{% block content %}
<section id="location">
    <div class="wrapper">
        <div class="location-info">
            <h3 class="sub-title">Webカフェ 東京タワー店</h3>
            <p>
                住所： 東京都港区<br>
                芝公園 4-2-8<br>
                電話： 03-3433-5111<br>
                営業時間： 9:30〜22:00<br>
                休日：祝日
            </p>
        </div>
        <div class="location-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.747798533289!2d139.74324421529232!3d35.65858483882104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bbd9009ec09%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1660837991508!5m2!1sja!2sjp" width="800" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
<section id="sns">
    <div class="wrapper">
        <div class="sns-box">
            <h3 class="sub-title">Facebook</h3>
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftokyotower.official&tabs=timeline&width=340&height=315&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
        <div class="sns-box">
            <h3 class="sub-title">Twitter</h3>
            <a class="twitter-timeline" data-height="315" href="https://twitter.com/nopponotouto?ref_src=twsrc%5Etfw">Tweets by nopponotouto</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="sns-box">
            <h3 class="sub-title">YouTube</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xnvsebKyiHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>
{% endblock content %}

{% block footer %}
<footer>
    <div class="wrapper">
        <p><small>&copy; 2019 Manabox</small></p>
    </div>
</footer>
{% endblock footer %}